# Task 4.8- Grouping Data & Aggregating Variables

See walkthough folder for walkthrough of examples in exercise

Task
1-Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

2-In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

3-Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

4-Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

5-The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

6-The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

7-In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

8-Ensure your notebook is clean and structured and that your code is well

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\kenwh'

In [3]:
path

'C:\\Users\\kenwh'

In [4]:
df_ords_prod_merge = pd.read_pickle(os.path.join(path,'Instacart Basket Anaylsis', '02 Data', 'Prepared Data', 'ords_prod_merge.pkl'))

Question 2- find the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe

In [5]:
# Use groupby and agg functions to calculate mean of user_order_number
df_ords_prod_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Compared to the subset found in teh walkthrough there are several differnces. The first is that there are more department_ids in the whole dataset then the subset. of the order_id's that are in both, the means in the whole data set seem to be up to 2 to 3 numbers lower then the means found in the subset. The only exception to this seems to be department_id 17, where the subset number is actually over 4 points lower then the number of the whole database.

#Question 4- create a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
#use groupby and transform to create loylaty flag
df_ords_prod_merge['max_order'] = df_ords_prod_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\kenwh\AppData\Local\Temp\ipykernel_24780\1717639503.py:2: FutureWarning: The provided callable <function amax at 0x0000021989609EE0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prod_merge['max_order'] = df_ords_prod_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#updated to aviod warning code
df_ords_prod_merge['max_order'] = df_ords_prod_merge.groupby(['user_id'])['order_number'].transform("max")

In [9]:
#check updated data frame
df_ords_prod_merge.head(25)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,max_order,loyalty_flag
0,2539329,1,1,2,Average orders,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,10,New customer
1,2398795,1,2,3,Average orders,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,10,New customer
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,10,New customer
3,2254736,1,4,4,Average orders,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,10,New customer
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,10,New customer
5,3367565,1,6,2,Average orders,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,10,New customer
6,550135,1,7,1,Most orders,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,10,New customer
7,3108588,1,8,1,Most orders,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,10,New customer
8,2295261,1,9,1,Most orders,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,10,New customer
9,2550362,1,10,4,Average orders,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,10,New customer
10,2968173,15,15,1,Most orders,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,22,Regular customer
11,1870022,15,17,2,Most orders,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,22,Regular customer
12,1911383,15,18,2,Most orders,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,22,Regular customer
13,2715276,15,21,1,Most orders,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,22,Regular customer
14,487368,15,22,1,Most orders,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,22,Regular customer
15,2293453,19,2,5,Most orders,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,9,New customer
16,1973799,19,5,6,Most orders,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,9,New customer
17,532817,19,7,4,Average orders,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,9,New customer
18,1573906,21,10,3,Most orders,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,33,Regular customer
19,1593000,31,10,3,Average orders,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,20,Regular customer
20,2231262,31,17,3,Most orders,8.0,196,14,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,20,Regular customer
21,2580647,43,6,4,Most orders,4.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,11,Regular customer
22,2187180,43,9,4,Most orders,3.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest days,Slowest days,11,Regular customer
23,2497897,52,1,1,Most orders,0.0,196,4,0,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,27,Regular customer
24,1318871,52,2,1,Most orders,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest days,Busiest days,27,Regular customer

In [10]:
#Creating a loyalty Flag
df_ords_prod_merge.loc[df_ords_prod_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prod_merge.loc[(df_ords_prod_merge['max_order'] <= 40) & (df_ords_prod_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prod_merge.loc[df_ords_prod_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Check loyalty flag
df_ords_prod_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

# Question 5- Look at spending habits of differnt groups
Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [13]:
#create an agg()function to ccheck spending habits based on loyalty_flag
df_ords_prod_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386229  1.0  99999.0
New customer      13.294406  1.0  99999.0
Regular customer  12.495501  1.0  99999.0

This shows that the price of an item purchased by a new customer is about $3 more expensive then an item purchased by a loyal customer.

# Question 6 
Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [14]:
# use transfor to find mean product price
df_ords_prod_merge['mean_product_price'] = df_ords_prod_merge.groupby(['user_id'])['prices'].transform("mean")

In [15]:
# check relevent columns
df_ords_prod_merge[['user_id','mean_product_price']].head(25)

    user_id  mean_product_price
0         1            6.367797
1         1            6.367797
2         1            6.367797
3         1            6.367797
4         1            6.367797
5         1            6.367797
6         1            6.367797
7         1            6.367797
8         1            6.367797
9         1            6.367797
10       15            3.980556
11       15            3.980556
12       15            3.980556
13       15            3.980556
14       15            3.980556
15       19            8.372059
16       19            8.372059
17       19            8.372059
18       21            7.012683
19       31            8.137793
20       31            8.137793
21       43            7.444898
22       43            7.444898
23       52            6.356287
24       52            6.356287

In [16]:
#create spending flag column
df_ords_prod_merge.loc[df_ords_prod_merge['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
df_ords_prod_merge.loc[df_ords_prod_merge['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [18]:
#check frequencey
df_ords_prod_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31771789
High spender      634252
Name: count, dtype: int64

In [20]:
#check new created columns of dataframe
df_ords_prod_merge[['user_id', 'mean_product_price', 'spending_flag']].head(25)

    user_id  mean_product_price spending_flag
0         1            6.367797   Low spender
1         1            6.367797   Low spender
2         1            6.367797   Low spender
3         1            6.367797   Low spender
4         1            6.367797   Low spender
5         1            6.367797   Low spender
6         1            6.367797   Low spender
7         1            6.367797   Low spender
8         1            6.367797   Low spender
9         1            6.367797   Low spender
10       15            3.980556   Low spender
11       15            3.980556   Low spender
12       15            3.980556   Low spender
13       15            3.980556   Low spender
14       15            3.980556   Low spender
15       19            8.372059   Low spender
16       19            8.372059   Low spender
17       19            8.372059   Low spender
18       21            7.012683   Low spender
19       31            8.137793   Low spender
20       31            8.137793   Low spender
21       43            7.444898   Low spender
22       43            7.444898   Low spender
23       52            6.356287   Low spender
24       52            6.356287   Low spender

# Question 7
Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [22]:
# use transform to find medium days between order for each person
df_ords_prod_merge['median_days_between_orders'] = df_ords_prod_merge.groupby(['user_id'])['days_since_prior_order'].transform("median")

In [23]:
# check relevent columns
df_ords_prod_merge[['user_id','median_days_between_orders','days_since_prior_order']].head(25)

    user_id  median_days_between_orders  days_since_prior_order
0         1                        20.0                     0.0
1         1                        20.0                    15.0
2         1                        20.0                    21.0
3         1                        20.0                    29.0
4         1                        20.0                    28.0
5         1                        20.0                    19.0
6         1                        20.0                    20.0
7         1                        20.0                    14.0
8         1                        20.0                     0.0
9         1                        20.0                    30.0
10       15                         8.0                     7.0
11       15                         8.0                     8.0
12       15                         8.0                     7.0
13       15                         8.0                     7.0
14       15                         8.0                    14.0
15       19                         6.0                     6.0
16       19                         6.0                     8.0
17       19                         6.0                     6.0
18       21                         7.0                     6.0
19       31                         6.0                     7.0
20       31                         6.0                     8.0
21       43                        10.0                     4.0
22       43                        10.0                     3.0
23       52                         8.0                     0.0
24       52                         8.0                     7.0

In [33]:
#Create flag for order frequency
df_ords_prod_merge.loc[df_ords_prod_merge['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent_customer'

In [31]:
df_ords_prod_merge.loc[df_ords_prod_merge['median_days_between_orders'] <= 20 & (df_ords_prod_merge['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular_customer'

In [29]:
df_ords_prod_merge.loc[df_ords_prod_merge['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent_customer'

In [34]:
# check value counts
df_ords_prod_merge['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent_customer        22671051
nan                       6922269
Non-frequent_customer     2686834
Regular_customer           125887
Name: count, dtype: int64

Seems like there are a good amount of customers that do not a value assigned, this is most likley because these are the users who have only made one order

In [35]:
# Check relevent columns
df_ords_prod_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency']].head(25)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency
0,1,0.0,20.0,nan
1,1,15.0,20.0,nan
2,1,21.0,20.0,nan
3,1,29.0,20.0,nan
4,1,28.0,20.0,nan
5,1,19.0,20.0,nan
6,1,20.0,20.0,nan
7,1,14.0,20.0,nan
8,1,0.0,20.0,nan
9,1,30.0,20.0,nan
10,15,7.0,8.0,Frequent_customer
11,15,8.0,8.0,Frequent_customer
12,15,7.0,8.0,Frequent_customer
13,15,7.0,8.0,Frequent_customer
14,15,14.0,8.0,Frequent_customer
15,19,6.0,6.0,Frequent_customer
16,19,8.0,6.0,Frequent_customer
17,19,6.0,6.0,Frequent_customer
18,21,6.0,7.0,Frequent_customer
19,31,7.0,6.0,Frequent_customer
20,31,8.0,6.0,Frequent_customer
21,43,4.0,10.0,Frequent_customer
22,43,3.0,10.0,Frequent_customer
23,52,0.0,8.0,Frequent_customer
24,52,7.0,8.0,Frequent_customer

# Export Data in Pickle format

In [36]:
df_ords_prod_merge.to_pickle(os.path.join(path, 'Instacart Basket Anaylsis', '02 Data','Prepared Data', 'ords_prod_merge_new.pkl'))